.fact-scroll-viewport {
    height: 650px;
    width: 98%;
    border: none;
    overflow: none !important;
    padding-top: 10px !important;
  }
  

  
  cdk-virtual-scroll-viewport {
    border: 1px solid black;
  }
  
  cdk-virtual-scroll-viewport li {
    list-style: none;
  }
  