<div class="modal-header title-center " >
  <h4 class="col-11 modal-title text-center">Development Details</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="margin:0 15px !important;">
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-xl-12 col-md-12">
      <span class="h5 m-b-md " style="font-size:17px;"><strong>{{ selectedProject.projectName }}</strong><br /></span><br />
      <div class="font-bold" style="font-size:15px;">Management Office:</div>
      <address class="m-b-sm">
        <div>{{ selectedProject.contactCompany }}</div>
        <div [hidden]="!selectedProject.contactAddress1">
          {{selectedProject.contactAddress1}}
        </div>
        <div [hidden]="!selectedProject.contactAddress2">
          {{selectedProject.contactAddress2}}
        </div>
        {{selectedProject.contactCity}} , {{selectedProject.contactState}}  {{selectedProject.contactZipCode}}
        <div [hidden]="!selectedProject.contactPhoneNumber">
          <i class="fa fa-phone txt-color-blue"></i>
          {{(selectedProject.contactPhoneNumber | usPhoneNumber: false )}}
          <span [hidden]="!selectedProject.contactPhoneExtension">x{{selectedProject.contactPhoneExtension}}</span>
        </div>
      </address>
      <div class="font-bold " style="font-size:15px;">Type:</div>
      <div class="m-b-sm">
        {{ selectedProject.tenantType }}, {{ selectedProject.projectType }}<span *ngIf="selectedProject.isSection8">,
          Section 8</span><span [hidden]="!selectedProject.isSection236">, Section 236</span>
      </div><br />
      <div class="font-bold " style="font-size:15px;">Status:</div>
      <div class="m-b-sm">
        {{ selectedProject.waitListStatus }}
      </div><br />
      <div class="font-bold  form-inline" style="font-size:15px;">Apartments:</div>
      <dl *ngIf="selectedProject.studioCount > 0">
        <span class="text-success" >{{ selectedProject.studioCount }}</span>&nbsp;
        <span>Studio</span>
      </dl>
      <dl *ngIf="selectedProject.oneBedroomCount > 0">
        <span class="text-success">{{ selectedProject.oneBedroomCount }}</span>&nbsp;
        <span>One Bedroom</span>
      </dl>
      <dl *ngIf="selectedProject.twoBedroomCount > 0">
        <span class="text-success">{{ selectedProject.twoBedroomCount }}</span>&nbsp;
        <span>Two Bedroom</span>
      </dl>
      <dl *ngIf="selectedProject.threeBedroomCount > 0">
        <span class="text-success">{{ selectedProject.threeBedroomCount }}</span>&nbsp;
        <span>Three Bedroom</span>
      </dl>
      <dl *ngIf="selectedProject.fourBedroomCount > 0">
        <span class="text-success">{{ selectedProject.fourBedroomCount }}</span>&nbsp;
        <span>Four Bedroom</span>
      </dl>
      <dl *ngIf="selectedProject.fiveBedroomCount > 0">
        <span class="text-success">{{ selectedProject.fiveBedroomCount }}</span>&nbsp;
        <span>Five Bedroom</span>
      </dl>
    </div>
    
  </div>
</div>