<div class="container-fluid">
  <ng-template #popContent>
    <app-change-application
      [applicationNumber]="application.applicationNumber"
      [hid]="project.hid"
    ></app-change-application>
  </ng-template>
  <app-page-header
    [project]="project"
    [title]="'Waiting List Position'"
    [description]="'Use search view to show search functionality.'"
    [applicationNumber]="application.applicationNumber"
  ></app-page-header>
  <div class="row">
    <div class="col-md-3 col-lg-3">
            <div id="rspupdnote">
                <strong>
                    Update Contact Information</strong>
                <br /><br />
            </div>
            <div id="rspupdnoteInfo" *ngIf="showNote">
                <div id="UpdateNoteInfo" style="font-family:'ArialMT', 'Arial';" class="form-inline">
                    <a [routerLink]="['','projects',project.hid,'applications',application.applicationNumber,'contact','edit']"
                        popover-trigger="'mouseenter'"><strong>Click here</strong></a> to submit a request to update
                    your
                    address and telephone numbers on file with a housing company. The housing company has the right to
                    accept or
                    reject any changes submitted online.
                </div>
            </div>
        </div>
        <div class="col-md-9 m-l-n-lg" style="background-color: white;padding-top: 20px;" id="rspbox1">
            <div class="card bg-light" *ngFor="let item of waitingLists;let i = index">
                <div class="card-body">
                    <button type="button" class="btn btn-link" placement="top"
                    [ngbPopover]="popContent"
                        popoverClass="popoverWidth" autoClose="outside" >
                        {{ 'Application #' + application.applicationNumber || 'empty' }}
                    </button>
                    
                    <p class="card-text"><strong>{{ item.key | capitalize }} waiting list</strong>
                    </p>

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Apartment Size</th>
                                <th scope="col">Position</th>
                                <th scope="col">Progress</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="animate-repeat" *ngFor="let position of item.value">
                                <td>
                                    <span *ngIf="position.apartmentSize == 0">Studio</span>
                                    <span *ngIf="position.apartmentSize != 0">{{ position.apartmentSize }}
                                        Bedroom</span>
                                </td>
                                <td class="form-inline">
                                    <span> {{ position.position }} out of
                                   
                                    </span> &nbsp;
                                    <a [routerLink]="['','projects',project.hid,'waitlist','bedrooms', position.apartmentSize ,application.type]" >
                                        {{ position.count }} </a>
                                </td>
                                <td>
                                    <ngb-progressbar [type]="getType(position.percentRemaining)" animated="true" [max]="position.count" striped="true"
                                        [value]="(position.count - position.position)"></ngb-progressbar>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel">
                <div class=" panel-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="">
                                <h4 style="font-weight:700;font:arial;font-size:13px;color:grey;margin-left:30px;">
                                    Application Details
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Date:</th>
                                                <td>{{ application.applicationDate }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Type:</th>
                                                <td>{{ application.type }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Size (1st choice):</th>
                                                <td>
                                                    <span
                                                        *ngIf="application.apartmentSizeFirstChoice == 0">Studio</span>
                                                    <span
                                                        *ngIf="application.apartmentSizeFirstChoice != 0">{{ application.apartmentSizeFirstChoice }}
                                                        Bedroom</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Size (2nd choice):</th>
                                                <td colspan="2">
                                                    <span *ngIf="!application.apartmentSizeSecondChoice">N/A</span>
                                                    <span
                                                        *ngIf="application.apartmentSizeSecondChoice == 0">Studio</span>
                                                    <span
                                                        *ngIf="application.apartmentSizeSecondChoice > 0">{{ application.apartmentSizeSecondChoice }}
                                                        Bedroom</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Senior:</th>
                                                <td>{{ application.isSenior }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Mobility Impaired:</th>
                                                <td>{{ application.isMobilityImpaired }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Subsidy Required:</th>
                                                <td>{{ application.isSubsidyRequired }}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class=""> Date:<span class="m-l-lg">{{ application.applicationDate }}</span></div>
                                    <div class=""> Type:<span class="m-l-lg m-l-lg m-l-lg m-l-lg m-l-lg m-l-lg m-l-lg m-l-lg">{{ application.type }}</span></div>
                                    <div class="">
                                        Size (1st choice):<span class="m-l-sm">
                                            <span *ngIf="application.apartmentSizeFirstChoice == 0">Studio</span>
                                            <span *ngIf="application.apartmentSizeFirstChoice != 0">{{ application.apartmentSizeFirstChoice }} Bedroom</span>
                                        </span>
                                    </div>
                                    <div class="">
                                        Size (2nd choice):<span class="m-l-sm">
                                        <span *ngIf="!application.apartmentSizeSecondChoice">N/A</span>
                                        <span *ngIf="application.apartmentSizeSecondChoice == 0">Studio</span>
                                        <span *ngIf="application.apartmentSizeSecondChoice > 0">{{ application.apartmentSizeSecondChoice }} Bedroom</span>
                                        </span>
                                    </div>
                                    <div class=""> Senior:<span class="m-l-sm">{{ application.isSenior }}</span></div>
                                    <div class=""> Mobility Impaired:<span class="m-l-sm">{{ application.isMobilityImpaired }}</span></div>
                                    <div class=""> Subsidy Required:<span class="m-l-sm">{{ application.isSubsidyRequired }}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>