<div [hidden]="hasChildren" class="row">
  <div class="col-xlg-8 col-lg-12 offset-xlg-2">
    <div class="card">
      <div class="card-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-8 col-xsm-12"></div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
              <div class="input-group">
                <input
                  id="typeahead-format"
                  class="form-control border"
                  type="text"
                  placeholder="Search..."
                  [(ngModel)]="searchFilter"
                  [ngbTypeahead]="search"
                  (keypress)="filter($event)"
                />
                <b
                  *ngIf="searchFilter.length > 0"
                  (click)="clearSearch()"
                  style="z-index: 1000; cursor: pointer; position: absolute; right: 38px; top: 8px; padding: 0 8px;"
                  >&times;</b
                >
                <span class="input-group-append">
                  <button
                    class="btn btn-outline-secondary border-left-0 border"
                    type="button"
                    (click)="reload(true)"
                  >
                    <i class="fas fa-search"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <cdk-virtual-scroll-viewport
                itemSize="100"
                class="fact-scroll-viewport"
              >
              <div
              class="row" style="padding-left: 20px;"
              *cdkVirtualFor="let prj of dataSource"
            >
              <div class="col-12 ">
                <h4>
                  {{ prj.projectName }}
                  <small>
                    <button
                      class="btn btn-link d-inline"
                      
                      (click)="showProjectDetails(prj.hid)"
                      >details</button
                    ></small
                  >
                </h4>
              </div>
              <div class="col-12 mb-2">
                <span [hidden]="AddressLine2">
                  {{ prj.projectAddress2 }}
                </span>
                <a
                  href="https://www.google.com/maps/place/{{
                    prj.projectAddress1
                  }}+{{ prj.projectCity }}+NY+ {{ prj.projectZipCode }}/"
                >
                  {{ prj.projectAddress1 }}, {{ prj.projectCity }}, NY
                  {{ prj.projectZipCode }}</a
                >
              </div>
              <div class="col-12">
                <div aria-label="Toolbar with button groups">
                  <div role="group" aria-label="First group">
                    <a
                      type="button"
                      href="javascript: void(0);"
                      class="btn btn-secondary d-inline mr-3 my-2"
                      *ngIf="prj.studioWaitList > 0"
                      [routerLink]="['','bedrooms',prj.hid,0,'Admissions']"
                    >
                      Studio
                    </a>
                    <a
                      type="button"
                      href="javascript: void(0);"
                      class="btn btn-secondary d-inline mr-3 my-2"
                      *ngIf="prj.oneBedroomWaitList > 0"
                      [routerLink]="['','bedrooms',prj.hid,1,'Admissions']"
                    >
                      1 Bedroom
                    </a>
                    <a
                      type="button"
                      href="javascript: void(0);"
                      class="btn btn-secondary d-inline mr-3 my-2"
                      *ngIf="prj.twoBedroomWaitList > 0"
                      [routerLink]="['','bedrooms',prj.hid,2,'Admissions']"
                    >
                      2 Bedroom
                    </a>
                    <a
                      type="button"
                      href="javascript: void(0);"
                      class="btn btn-secondary d-inline mr-3 my-2"
                      *ngIf="prj.threeBedroomWaitList > 0"
                      [routerLink]="['','bedrooms',prj.hid,3,'Admissions']"
                    >
                      3 Bedroom
                    </a>
                    <a
                      type="button"
                      href="javascript: void(0);"
                      class="btn btn-secondary d-inline mr-3 my-2"
                      *ngIf="prj.fourBedroomWaitList > 0"
                      [routerLink]="['','bedrooms',prj.hid,4,'Admissions']"
                    >
                      4 Bedroom
                    </a>
                    <a
                      type="button"
                      href="javascript: void(0);"
                      class="btn btn-secondary d-inline mr-3 my-2"
                      *ngIf="prj.fiveBedroomWaitList > 0"
                      [routerLink]="['','bedrooms',prj.hid,5,'Admissions']"
                    >
                      5 Bedroom
                    </a>
                  </div>
                </div>
              </div>
            </div>
              
              </cdk-virtual-scroll-viewport>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
